{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "insertPragma": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
